.passwordResetModal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.passwordResetModal__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  border: 2px solid salmon;
}

.passwordResetModal__background {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 15rem;
  width: 19rem;
}

.passwordResetModal__title {
  color: var(--teal);
  padding-top: 1em;
  /* border: 3px solid green; */
}

.passwordResetModal__emailInput {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.passwordResetModal__emailInput > input {
  background-color: var(--secondary-color);
  /* border: 1px solid pink; */
  border: none;
  width: 85%;
  height: 3em;
  padding: 1em;
  margin-bottom: 0.5em;
  border-radius: 10px;
  color: #bdbec0;
}

.passwordResetModal__emailInput > input:focus,
.passwordResetModal__emailInput > input:active {
  outline: none;
  border: 1px solid #bdbec0;
  color: #bdbec0;
}

.passwordResetModal__background > input:focus::placeholder {
  color: transparent;
}

.passwordResetModal__background--backgroundColor {
  background-color: var(--background-color);
  border: 5px solid var(--teal);
  border-radius: 25px;
}

.passwordResetModal-error {
  width: 85%;
  text-align: center;
  color: red;
  display: inline-block;
}

input.passwordResetModal-email-error {
  border: 1px solid red;
  color: red;
}

.passwordResetModal__button {
  margin-top: 1.25em;
  background-color: var(--teal);
  color: white;
  border: 1px solid var(--teal);
  border-radius: 10px;
  cursor: pointer;
  padding: 0.5em 1em;
}

.passwordResetModal__button:focus,
.passwordResetModal__button:active,
.passwordResetModal__button:hover {
  outline: none;
  background-color: #0099a1;
  border: 1px solid #0099a1;
}

@media screen and (min-width: 100px) and (max-width: 449px) {
  .modal__content {
    width: 21.5rem;
    height: 28.5rem;
  }
}

@media screen and (min-width: 450px) {
  .modal__content {
    width: 22rem;
    height: 30rem;
  }
}
