body {
  --secondary-color: #242526;
  /* --navbar-color: #18191a; */
  --background-color: #121212;
  --teal: #00adb5;
  --white: #f5f6f7;
  background-color: var(--background-color);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
