/* .edit-profile-modal-background {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.edit-profile-container {
  border: 1px solid pink;
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-profile-form {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: grey;
  width: 100px;
  height: 100px;
}

img ~ .camera {
  color: white;
} */
