.home-page {
  display: flex;
  justify-content: center;
  /* border: 1px solid orange; */
  width: 100vw;
  height: 90vh;
}

.home-page__middle {
  /* border: 1px solid #dadde1; */
  border-radius: 1%;
  width: 100%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.middle-wrapper {
  border: 1px solid tomato;
  width: 45%;
  height: 100%;
}

.home-page__middle::-webkit-scrollbar {
  display: none;
}

.home-page__middle::-webkit-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@media screen and (min-width: 240px) {
  .middle-wrapper {
    width: 90%;
  }
}

@media screen and (min-width: 540px) {
  .middle-wrapper {
    width: 70%;
  }
}

@media screen and (min-width: 740px) {
  .middle-wrapper {
    width: 60%;
  }
}

@media screen and (min-width: 940px) {
  .middle-wrapper {
    max-width: 35rem;
  }
}
