.mobile-container {
  border: 1px solid pink;
  width: 100%;
}

.pencil-container {
  border: 1px solid pink;
  width: 3em;
  height: 3rem;
  color: #f5f6f7;
  background-color: var(--teal);
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 0.5em;
  padding-left: 0.25em;
}
