.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

/* Parent Container */
.modal__content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  /* border: 2px solid salmon; */
}

/* Child Container */
.modal__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.modal__content--background {
  background-color: var(--background-color);
  border: 5px solid var(--teal);
  border-radius: 25px;
}

.modal__signUp {
  color: var(--teal);
  padding-top: 1em;
  /* border: 3px solid green; */
}

/* Grandchild Container */
.modal__content > form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  /* border: 3px solid green; */
  width: 80%;
  height: 80%;
}

.modal__form > .input:nth-of-type(1) {
  margin-top: 0;
}

.modal__form > .input {
  margin-top: 0.5em;
  height: 10%;
  width: 75%;
}

.modal__content .negative {
  width: 75%;
  display: inline-block;
  /* height: 10%; */
  /* overflow: auto; */
}

.create-acct-button {
  margin-top: 1.25em;
  background-color: var(--teal);
  color: white;
  border: 1px solid var(--teal);
  border-radius: 10px;
  cursor: pointer;
  padding: 0.5em 1em;
}

.create-acct-button:hover {
  background-color: #0099a1;
  border: 1px solid #0099a1;
}

@media screen and (min-width: 100px) and (max-width: 449px) {
  .modal__content {
    width: 21.5rem;
    height: 28.5rem;
  }
}

@media screen and (min-width: 450px) {
  .modal__content {
    width: 22rem;
    height: 30rem;
  }
}
