.profile-page {
  display: flex;
  justify-content: center;
  /* flex-direction: column; */
  /* align-items: center; */
  border: 2px solid #00adb5;
  margin-top: 7.5vh;
  height: 86.5vh;
}

.profile-page__detail {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  border: 2px solid #00adb5;
  border-radius: 5px;
  height: 100%;
  width: 40%;
  background-color: #18191a;
}

.profile-page__editProfileOption {
  display: flex;
  /* border: 1px solid blue; */
  color: #f5f6f7;
  margin-bottom: 10px;
  margin-left: 500px;
  margin-top: 10px;
  padding-left: 30px;
  width: 50px;
  cursor: pointer;
}

.profile-page__avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid pink;
  width: 100px;
}

.profile-page__menu {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /* border-bottom: 2px solid yellow; */
  margin-top: 3%;
  width: 100%;
}

.active-item,
.item {
  color: #f5f6f7;
  font-size: 1em;
  font-weight: 100;
  margin-left: 10%;
  margin-right: 10%;
}

.profile-page__menu a[class="active-item"] {
  color: #00adb5;
}

.profile-page__menu a:hover {
  cursor: pointer;
  font-weight: bold;
  color: #00adb5;
}
