.signUpModal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

/* Parent Container */
.signUpModal__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  /* border: 2px solid salmon; */
}

/* Child Container */
.signUpModal__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.signUpModal__content--background {
  background-color: var(--background-color);
  border: 5px solid var(--teal);
  border-radius: 25px;
  width: 22rem;
  height: 30rem;
}

.signUpModal__heading {
  color: var(--teal);
  padding-top: 1em;
  /* border: 3px solid green; */
}

/* Grandchild Container */
.signUpModal__form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 80%;
  height: 80%;
}

.signUpModal__form > .input:nth-of-type(1) {
  margin-top: 0;
}

.signUpModal__form > input {
  background-color: var(--secondary-color);
  /* border: 1px solid pink; */
  border: none;
  width: 85%;
  height: 3em;
  padding: 1em;
  margin-bottom: 0.5em;
  border-radius: 10px;
  color: #bdbec0;
}

.signUpModal__form > input:focus,
.signUpModal__form > input:active {
  outline: none;
  border: 1px solid #bdbec0;
  color: #bdbec0;
}

.signUpModal__form > input:focus::placeholder {
  color: transparent;
}

input.signUpModal__email-error,
input.signUpModal__form-error {
  border: 1px solid red;
  color: red;
}

.signUpModal__form-error {
  width: 85%;
  text-align: center;
  color: red;
  display: inline-block;
}

.signUpModal__button {
  margin-top: 1.25em;
  background-color: var(--teal);
  color: white;
  border: 1px solid var(--teal);
  border-radius: 10px;
  cursor: pointer;
  padding: 0.5em 1em;
}

.create-acct-button:focus,
.create-acct-button:active,
.create-acct-button:hover {
  outline: none;
  background-color: #0099a1;
  border: 1px solid #0099a1;
}

@media screen and (min-width: 100px) and (max-width: 449px) {
  .modal__content {
    width: 21.5rem;
    height: 28.5rem;
  }
}

@media screen and (min-width: 450px) {
  .modal__content {
    width: 22rem;
    height: 30rem;
  }
}
