.text-post {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #242526;
  /* border: 1px solid pink; */
  border-radius: 15px;
  /* width: 100%; */
  padding-top: 0.25em;
  margin-top: 0.5em;
  cursor: pointer;
  height: auto;
}

.text-post__imageBody {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: #242526;
  /* border: 1px solid pink; */
  border-radius: 15px;
  width: 100%;
  padding-top: 0.25em;
  margin-top: 0.5em;
  cursor: pointer;
}

.text-post__content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  /* border: 1px solid orangered; */
  /* width: 100%; */
}

.image-post__content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  /* border: 1px solid orangered; */
  width: 100%;
  height: 80%;
  margin-bottom: 1em;
}

.text-post__avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 4rem;
  /* border: 1px solid pink; */
}

.post-avatar {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.text-post__Reshare {
  color: #b4b6b9;
  font-size: 0.8rem;
}

.text-post__bodyContent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  /* border: 1px solid white; */
  width: 80%;
}

.text-post__userAndDate {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* border: 1px solid salmon; */
  height: 2rem;
}

.text-post__username {
  color: var(--teal);
  font-weight: bold;
  font-size: 1rem;
  /* border: 1px solid red; */
  height: 1rem;
}

.text-post__createDate {
  /* border: 1px solid yellow; */
  color: #b4b6b9;
  font-size: 0.7rem;
}

.image-post-body {
  display: flex;
  background-color: #242526;
  /* border: 1px solid blue; */
  border-radius: 15px;
  margin-top: 0.5em;
  width: 95%;
  /* height: 85%; */
}

.image-post-body > img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.text-post__body {
  word-wrap: break-word;
  /* border: 1px solid greenyellow; */
  /* padding-top: 0.35em; */
  color: #f5f6f7;
  margin-top: 0.35rem;
  /* height: auto; */
  width: 93%;
}

.test-container {
  /* border: 1px solid orange; */
  display: flex;
  justify-content: flex-end;
}

.text-post__actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* border: 2px solid purple; */
  width: 100%;
  height: 2rem;
  margin-left: 5.5rem;
}

.text-post__actions > i {
  color: var(--teal);
  cursor: pointer;
}

.text-post__likeCount,
.text-post__reshareCount {
  /* border: 1px solid salmon; */
  margin-left: 0.5em;
  font-weight: bold;
}

@media screen and (min-width: 240px) {
  .text-post__avatar {
    width: 20%;
  }
  .text-post__actions {
    margin-right: 9%;
  }
}

@media screen and (min-width: 447px) {
  .text-post__actions {
    margin-right: 14%;
  }

  .text-post {
    /* max-width: 35rem; */
  }

  .text-post__avatar {
    width: 5rem;
  }
}

@media screen and (min-width: 940px) {
  .text-post__actions {
    margin-right: 14%;
  }
}
