/* .text-post {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #242526;
  border: 1px solid blue;
  border-radius: 15px;
  width: 38rem;
  height: 7rem;
  padding-top: 0.25em;
  margin-top: 0.5em;
} */

.text-post__largeBody {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #242526;
  /* border: 1px solid lightblue; */
  border-radius: 15px;
  /* width: 38rem; */
  width: 100%;
  height: 9rem;
  padding-top: 0.25em;
  margin-top: 0.5em;
  cursor: pointer;
}

.text-post__smallBody {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #242526;
  /* border: 1px solid lightblue; */
  border-radius: 15px;
  /* width: 38rem; */
  width: 100%;
  height: 7rem;
  padding-top: 0.25em;
  margin-top: 0.5em;
  cursor: pointer;
}

.text-post__content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  /* border: 1px solid orangered; */
  width: 100%;
  height: 80%;
}

.text-post__avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 4rem;
  /* border: 1px solid pink; */
}

.post-avatar {
  width: 60%;
  height: 75%;
  border-radius: 50%;
}

.text-post__Reshare {
  color: #b4b6b9;
  font-size: 0.8rem;
}

.text-post__bodyContent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  /* border: 1px solid white; */
  /* width: 33rem; */
  width: 80%;
  height: 100%;
}

.text-post__userAndDate {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* border: 1px solid salmon; */
  height: 2rem;
}

.text-post__username {
  color: var(--teal);
  font-weight: bold;
  font-size: 1rem;
  /* border: 1px solid red; */
  height: 1rem;
}

.text-post__createDate {
  /* border: 1px solid yellow; */
  color: #b4b6b9;
  font-size: 0.7rem;
}

.text-post__body {
  /* display: inline-block; */
  word-wrap: break-word;
  /* border: 1px solid greenyellow; */
  /* padding-top: 0.35em; */
  color: #f5f6f7;
  margin-top: 0.35rem;
  height: 5rem;
  width: 93%;
}

.text-post__actions {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  /* border: 2px solid purple; */
  width: 100%;
  height: 20%;
}

.text-post__actions > i {
  color: var(--teal);
  cursor: pointer;
  /* padding: 1em; */
}

.text-post__likeCount,
.text-post__reshareCount {
  /* border: 1px solid salmon; */
  margin-left: 0.5em;
  font-weight: bold;
}

@media screen and (min-width: 240px) {
  .text-post__largeBody {
    height: 13rem;
  }

  .text-post__smallBody {
    height: 10em;
  }
}

@media screen and (min-width: 540px) and (max-width: 780px) {
  .text-post__largeBody {
    height: 12rem;
  }

  .text-post__smallBody {
    height: 9em;
  }
}

@media screen and (min-width: 940px) {
  .text-post__largeBody {
    height: 10rem;
  }

  .text-post__smallBody {
    height: 8em;
  }
}

@media screen and (min-width: 1200px) {
  .text-post__largeBody {
    height: 9rem;
  }

  .text-post__smallBody {
    height: 7em;
  }
}
